.po-container {
  min-height: 100vh;
  background: #f5f7fa;
  padding: 40px;
}

.po-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #0b1b3a;
}

/* FORM CARD */
.order-form {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* EACH INPUT SECTION */
.section {
  margin-bottom: 20px;
}

.section label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.section input,
.section select,
.section textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.section input:focus,
.section select:focus,
.section textarea:focus {
  border-color: #442d1c;
  box-shadow: 0 0 5px rgba(68, 45, 28, 0.3);
}

/* FILE LIST CONTAINER */
.file-list {
  margin-top: 10px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
}

/* PREVIEW CARD */
.preview-card {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: white;
  position: relative;
  transition: 0.2s;
}

.preview-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* IMAGE PREVIEW */
.preview-image {
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

/* PDF PREVIEW */
.pdf-preview {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

/* DELETE BUTTON */
.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: #e11d48;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background: #be123c;
}

/* SUBMIT BUTTON */
.submit-btn {
  width: 100%;
  padding: 14px;
  border: none;
  background: #442d1c;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #3b1506;
}
.po-layout {
  display: flex;
  gap: 20px;
}

/* LEFT SIDE (FORM) */
.po-left {
  flex: 2;
}

/* RIGHT SIDE (SUMMARY PANEL) */
.po-right {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(124, 31, 31, 0.1);
  height: fit-content;

  position: sticky;
  top: 20px;
}