.intro {
    text-align:center 
}

.heading{
    font-family: "Stardos Stencil", system-ui;
  font-weight: 400;
  font-style: normal;
  
}

#navbar{
  	float: inline-end;
    background-color: transparent;
    color: #92400E;

}

html {
  scroll-behavior: smooth;
}